* {
  margin: 0;
}

input#age,
input#name {
  padding: 5px;
  margin-bottom: 10px;
}


div.input {
  background-color: yellow;
  position: absolute;
  left: 40%;
  top: 30%;
  padding: 30px;
}

input#save {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}